

<body>

	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>4<span>0</span>4</h1>
			</div>
			<h2>{{message}}</h2>
			<form class="notfound-search">
				<input type="text" placeholder="Search...">
				<button type="button"><span></span></button>
			</form>
		</div>
	</div>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>



<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre>
